/* AppHeader.css */
.app-header {
    background-color: #D9D8CC;
    padding: 10px 50px;
}

.app-header .ant-btn-link {
    margin-right: 10px; /* Optional: adds space between buttons */
    font-size: 16px; /* Set the font size for the buttons */
}
